@import "tailwindcss";

:root {

/* ==========================
   CORES PRINCIPAIS
========================== */

--color-page: #1C2838; 

--color-primary: #2D74DA;
--color-primary-hover: #4386E5;

--color-accent: #D9D2B0;

/* ==========================
   FUNDOS
========================== */

--color-background: #12161D;
--color-surface: #1A212C;
--color-surface-hover: #243042;

/* ==========================
   TEXTOS
========================== */

--color-text: #F2F4F7;
--color-text-secondary: #D5DDE8;
--color-text-muted: #A5B1C2;

/* ==========================
   BORDAS
========================== */

--color-border: #344252;
}




/* ==========================
   ANIMAÇÃO SCROLL
========================== */

@keyframes scrollIndicator {

  0%,
  100%{
    transform: translateY(0px);
  }

  50%{
    transform: translateY(10px);
  }

}

.animate-scroll{
  animation: scrollIndicator 2.2s ease-in-out infinite;
}